DataRetrieved/session1/full_face/*
DataRetrieved/session1/features/*
DataRetrieved/session4/full_face/*
.DS_Store
._.DS_Store
DataRetrieved/session4/features/*
DataRetrieved/session1/3stripes/*
DataRetrieved/session4/3stripes/
DataRetrieved/session1/featuresSession1StripesDicoEyes.mat
DataRetrieved/session1/featuresSession1StripesDicoMouse.mat
DataRetrieved/session1/featuresSession1StripesDicoNose.mat
DataRetrieved/session1/featuresSession1StripesDicos.mat
DataRetrieved/session1/featuresSession1StripesDicosManual.mat
DataRetrieved/session1/featuresSession1StripesDicosManual.mat
DataRetrieved/session1/filename.mat
DataRetrieved/session1/featuresMany/*
DataRetrieved/session4/featuresMany/*
DataRetrieved/session1/featuresSession1Many.mat
DataRetrieved/session1/featuresSession1ManyDicos.mat
DataRetrieved/session1/featuresSession1StripesDicosOLD.mat
DataRetrieved/session4/featuresSession4Many.mat
	
